src/main/resources/log4j.dtd

<!-- Log4j 1.x DTD for XML configuration -->
<!ELEMENT log4j:configuration (renderer*, appender*, category*, logger*, root?, categoryFactory?)>
<!ATTLIST log4j:configuration
    xmlns:log4j CDATA #FIXED "http://jakarta.apache.org/log4j/"
    debug (true|false) "false"
    threshold (ALL|TRACE|DEBUG|INFO|WARN|ERROR|FATAL|OFF) "ALL"
    reset (true|false) "false">

<!ELEMENT renderer EMPTY>
<!ATTLIST renderer renderedClass CDATA #REQUIRED
                     renderingClass CDATA #REQUIRED>

<!ELEMENT appender (param*, layout?, filter*, errorHandler?, appender-ref*, rollingPolicy?, triggeringPolicy?)>
<!ATTLIST appender name CDATA #REQUIRED
                   class CDATA #REQUIRED>

<!ELEMENT layout (param*)>
<!ATTLIST layout class CDATA #REQUIRED>

<!ELEMENT filter (param*)>
<!ATTLIST filter class CDATA #REQUIRED>

<!ELEMENT errorHandler (param*, root-ref?, logger-ref*, appender-ref*)>
<!ATTLIST errorHandler class CDATA #REQUIRED>

<!ELEMENT root (priority?, appender-ref*)>

<!ELEMENT category (param*, category*, priority?, appender-ref*)>
<!ATTLIST category name CDATA #REQUIRED
                    additivity (true|false) "true">

<!ELEMENT logger (level?, appender-ref*, param*)>
<!ATTLIST logger name CDATA #REQUIRED
                  additivity (true|false) "true">

<!ELEMENT level EMPTY>
<!ATTLIST level value (TRACE|DEBUG|INFO|WARN|ERROR|FATAL) #REQUIRED>

<!ELEMENT priority EMPTY>
<!ATTLIST priority value (TRACE|DEBUG|INFO|WARN|ERROR|FATAL) #REQUIRED>

<!ELEMENT appender-ref EMPTY>
<!ATTLIST appender-ref ref CDATA #REQUIRED>

<!ELEMENT param EMPTY>
<!ATTLIST param name CDATA #REQUIRED
                value CDATA #REQUIRED>

<!ELEMENT rollingPolicy (param*)>
<!ATTLIST rollingPolicy class CDATA #REQUIRED>

<!ELEMENT triggeringPolicy (param*)>
<!ATTLIST triggeringPolicy class CDATA #REQUIRED>

<!ELEMENT categoryFactory (param*)>
<!ATTLIST categoryFactory class CDATA #REQUIRED>

<!ELEMENT logger-ref EMPTY>
<!ATTLIST logger-ref ref CDATA #REQUIRED>

<!ELEMENT root-ref EMPTY>
